# Project ignore files
/.settings
/.classpath
/.project
/.tomcatplugin
/target
/work
/.tomcatplugin
/src/main/webapp/.#webclasspath

.idea
semsplus.iml
/src/main/resources/application.properties
/src/test/resources/generatorConfig.properties
/semsplus.iml
